# List Comprehensions and Lambdas
## Abbreviated Python
---

## Resources:
- [Python Comprehensions By Example](https://www.smallsurething.com/list-dict-and-set-comprehensions-by-example/)
- [Python List Comprehension](https://www.datacamp.com/community/tutorials/python-list-comprehension) and [Python Functions](https://www.datacamp.com/community/tutorials/functions-python-tutorial)- Karlijn Willems
- [Yet Another Pandas Tutorial (with Pokemon)](https://www.kaggle.com/shikhar1/yet-another-pandas-tutorial)

## Lambda Functions
---
Lambda functions are abbreviated, single use functions, which is why you'll sometimes see them referred to as "anonymous functions" or "functions without a name".

The anatomy of a lambda function:
```python
f = lambda x: x+2
f(3)
```
Where "lambda" indicates that we are creating a lambda function, which is followed by an argument (which in this case is "x", colon, and finally the expression (or what the function should do with the argument and return to the user).

In [1]:
# simple lambda function
f= lambda x: x**2

In [ ]:
def square_func(x):
    """lousy docstring"""
    x**2

In [2]:
f(5)

25

In [3]:
# what's gonna happen if we call the above function again?
f(4)

16

In [22]:
# you can also add conditional statements to your lambda functions (even or odd)
f = lambda x: 'even' if x%2==0 else 'odd'
a = [1,2,3,4,5]
list(map(f,a))

['odd', 'even', 'odd', 'even', 'odd']

## Lambdas in the Wild!
You'll commonly see lamda functions combined with the filter(), map(), or reduce() functions

In [12]:
# use map and lambdas
# use list() to see the map
a = [2,len('string'),4,5]
list(map(lambda x: x**2, a))

[4, 36, 16, 25]

In [13]:
# lets try lambda functions with pokemon!
import pandas as pd
df = pd.read_csv('pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [19]:
# create a new column that is the difference between attack and defense (remember the axis!)
df['dif_att_def'] = df.apply(lambda x:abs(x.Attack - x.Defense), axis=1)

In [20]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,dif_att_def
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,23
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,9

## Exercise
1. Make a new column called "attack_lvl" that ranks a pokemon's attack as high, medium, or low (using a lambda function)
    - you can use the describe() function on the dataframe to get an idea of the attack range
2. Make another new column called "def_lvl" that ranks a pokemon's defense as high, medium, or low (again, using a lambda function)
3. Make a new dataframe called ultra_mons that contains data for all the pokemon that have a high attack and defense level

In [23]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,dif_att_def
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,800.000000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375,24.838750
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129,23.383354
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000,0.000000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000,10.000000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000,20.000000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000,35.000000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000,220.000000

In [32]:
# add an "attack_lvl" column
df['attack_lvl'] = df.apply(lambda x: 'high' if x.Attack >120 else ('medium' if 80<= x.Attack <= 120 else 'low'), axis=1)

In [29]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,dif_att_def,attack_lvl
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0,low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,1,low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,1,medium
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,23,medium
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,9,low

In [33]:
# add a "defense_lvl" column
df['defense_lvl'] = df.apply(lambda x: \
    'high' if x.Defense >120 else \
    ('medium' if 80<= x['Defense'] <= 120 else 'low'), axis=1)
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,dif_att_def,attack_lvl,defense_lvl
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0,low,low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,1,low,low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,1,medium,medium
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,23,medium,high
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,9,low,low

In [ ]:
def bin_it(x):
    if x.Attack > 120:
        return 'high'
    elif 80<=x.Attack<=120:
        return 'med'

In [37]:
att_ultras = df[df['attack_lvl']=='high']
len(att_ultras)

88

In [38]:
# make a new dataframe called "ultra_mon"
ultras = df[(df['attack_lvl']=='high')&(df['defense_lvl']=='high')]
len(ultras)

11

## Solutions:

In [ ]:
# solution 1
df['attack_lvl'] = df['Attack'].apply(lambda x: 'high' if x>120 else ('medium' if 80<=x<=120 else 'low'))
df.head()

In [ ]:
# solution 2
df['def_lvl'] = df['Defense'].apply(lambda x: 'high' if x>120 else ('medium' if 80<=x<=120 else 'low'))
df.head()

In [ ]:
# solution 3
ultra_mons = df[(df['attack_lvl']=='high') & (df['def_lvl']=='high')]
ultra_mons

## Comprehensions

Think of comprehensions as a one-line for loop that can generate a list, dictionary, or set

---
### Review of Lists
- Lists are one of four built-in data structures in Python (lists, tuples, dictionaries, sets)  
- The values within the list do not need to be of the same type.  
- Lists are a sequence type, which means their order matters
    - Other sequence types: strings, tuples, sets
    - Sequence types can be iterated

In [39]:
# example list made up of lots of things
a = 'cheese'
b = 2
a_list = [1,2,3]
new_list = [2,4,6,a,b,a_list]

## List Comprehension
---
A list comprehension makes it easier to generate a list by combining the list object with a for loop. 

The anatomy of a list comprehenison is:
```python
list_comp = [x for x in iterable]
```
Note that it's made up of:
1. square brackets - indicating that this is a list object
2. "for" - generating a for loop
3. "in iterable" - provides the iterator to loop over

Mathematical examples:
```
S = {0, 1, 4, 9, 16, 25, 36, 49, 64, 81}
V = {1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096}
M = {0, 4, 16, 36, 64}
```
can be abbreviated as...
```
S = {x² : x in {0 ... 9}}
V = (1, 2, 4, 8, ..., 2¹²)
M = {x | x in S and x even}
```
It's just shorthand for describing a sequence.  We can convert these sequences to the following list comprehensions:
```python
S = [x**2 for x in range(10)]
V = [2**i for i in range(13)]
M = [x for x in S if x % 2 == 0]
```

In [42]:
# simple list comprehension using range()
a = list(range(10))
list(map(lambda x: x**2, a))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
[x for x in range(100,0,-1)]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [63]:
import numpy as np

AttributeError: 'str' object has no attribute 'astype'

In [97]:
%%timeit
a = np.empty(100).astype(bool)
# a loop
len(a)

5.24 µs ± 77.7 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [57]:
%%timeit
# equivalent list comprehension
[x if x%2==0 else 'odd' for x in range(100)]

18.8 µs ± 1.87 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [ ]:
# add a conditional statement

## Exercise
1. Write a list comprehension that converts a list of temperatures from celsius to fahrenheit
2. Add a conditional statement to the list comprehension that returns only temperatures above 0 degrees celsius
3. BONUS: add an "else" statement that returns "cold" for any temperature below 0 degrees celsius
4. MEGA BONUS: what if you want your conditional statements to act on the fahrenheit temperatures and not the celsius temperatures?

In [99]:
# convert celsius to fahrenheit
celsius = [0,-5, 10,20.1,-11.3,34.5]
fahrenheit = [(9/5)*temp + 32 for temp in celsius]
fahrenheit

[32.0, 23.0, 50.0, 68.18, 11.659999999999997, 94.1]

In [102]:
# add a conditional statement to the list comprehension
fahrenheit = [(9/5)*temp + 32 for temp in celsius if temp > 0 ]
fahrenheit

[50.0, 68.18, 94.1]

In [110]:
fahrenheit = [(9/5)*temp + 32 if temp>0 else 'cold' for temp in celsius]
fahrenheit

['cold', 'cold', 50.0, 68.18, 'cold', 94.1]

In [107]:
# add an else statement
fahrenheit = [temp if temp>32 else 'cold' for temp in [(9/5)*temp + 32 for temp in celsius]]

In [108]:
fahrenheit

['cold', 'cold', 50.0, 68.18, 'cold', 94.1]

In [ ]:
# have the conditional statements operate on the fahrenheit temperatures

## Solutions:

In [ ]:
# solution 1
celsius = [0,10,-5, 20.1, -11.3, 34.5]

fahrenheit = [ ((9/5)*temp + 32) for temp in celsius ]
fahrenheit

In [ ]:
# solution 2
celsius = [0,10,-5, 20.1, -11.3, 34.5]

fahrenheit = [ ((9/5)*temp + 32) for temp in celsius if temp > 0]
fahrenheit

In [ ]:
# solution 3
celsius = [0,10,-5, 20.1, -11.3, 34.5]

fahrenheit = [ ((9/5)*temp + 32) if temp > 0 else 'cold' for temp in celsius] # note that the if statement can before or after the for loop
fahrenheit

In [ ]:
# solution 4
celsius = [0,10,-5, 20.1, -11.3, 34.5]

fahrenheit = [ temp if temp > 32 else 'cold' for temp in [((9/5)*temp + 32) for temp in celsius]]
fahrenheit